%h1
  = @user.username

%table
  %tr
    %th Username
    %th Description
    %th Company
    %th Address
    %th Latitude
    %th Longitude
    %th Phone
    %th Email
    %th 
    %th
    %th

  %tr
    %td= @user.username
    %td= @user.company
    %td= @user.address
    %td= @user.latitude
    %td= @user.longitude
    %td= @user.mobilephone
    %td= @user.email
    %td= link_to 'Show', @user
    %td= link_to 'Edit', edit_user_registration_path(@user)
    %td= link_to 'Destroy', @user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h2 Products
Count
= @user.products.count
Products
= render :partial=> 'products/product', :collection=>@user.products

%br

= link_to 'New User', new_user_registration_path
