= div_for product_image do
  - if product_image.image
    %b Image
    = image_tag product_image.image.url(:thumb).to_s
    %b Image name:
    = product_image.name
    %p
      %b Product:
      = product_image.product
    %p
      %b Isprimary:
      = product_image.isprimary
    = link_to 'Remove Photo', product_image, :method => :delete, :data => {:confirm => 'Are you sure?' }
