= form_tag products_path, :method => 'get', :id => "products_search" do
  #productfiltersdropdown.leftsidebarsearch
    = render 'productfiltersdropdown'
  #indexview
    %title Products
    %h1 Listing products
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
    #products= render 'products'
  %br
  = link_to 'New Product', new_product_path
  = debug(params) if Rails.env.development?
